---
import aiLogo from '@/assets/images/ai.svg';
import astroLogo from '@/assets/images/astro.svg';
import cloudflareLogo from '@/assets/images/cloudflare.svg';
import fastifyLogo from '@/assets/images/fastify.svg';
import figmaLogo from '@/assets/images/figma.svg';
import jiraLogo from '@/assets/images/jira.svg';
import nextjsLogo from '@/assets/images/nextjs.svg';
import reactLogo from '@/assets/images/react.svg';
import tailwindLogo from '@/assets/images/tailwindcss.svg';
import vercelLogo from '@/assets/images/vercel.svg';
import vueLogo from '@/assets/images/vue.svg';
import GradientSpan from '@/components/GradientSpan.astro';
import { Image } from 'astro:assets';

const technologies = [
  {
    image: tailwindLogo,
    alt: 'Tailwindcss Logo',
  },
  {
    image: figmaLogo,
    alt: 'Figma Logo',
  },
  {
    image: vercelLogo,
    alt: 'Vercel Logo',
  },
  {
    image: nextjsLogo,
    alt: 'Next.js Logo',
  },
  {
    image: astroLogo,
    alt: 'Astro Logo',
  },
  {
    image: cloudflareLogo,
    alt: 'Cloudflare Logo',
  },
  {
    image: reactLogo,
    alt: 'React Logo',
  },
  {
    image: vueLogo,
    alt: 'Vue Logo',
  },
  {
    image: jiraLogo,
    alt: 'Jira Logo',
  },
  {
    image: aiLogo,
    alt: 'Adobe Illustrator Logo',
  },
  {
    image: fastifyLogo,
    alt: 'Fastify Logo',
  },
];
---

<section
  class="text-center flex flex-col h-full justify-center items-center py-20 px-8 min-h-[calc(100vh-80px)]"
>
  <h1
    class={`
      text-6xl sm:text-8xl md:text-9xl font-extrabold tracking-tighter leading-[0.9] mb-10 tall:max-w-3xl
    `}
  >
    <span
      class="bg-gradient-to-br from-[#FBBD05] to-[#BC4A09] bg-clip-text text-transparent px-1"
      >Brindamos</span
    >{' '}
    <GradientSpan class="whitespace-nowrap">Luz A</GradientSpan>{' '}
    <GradientSpan class="whitespace-nowrap">Las Ideas</GradientSpan>{' '}
  </h1>
  <p class="text-2xl text-neutral-400 mb-20">
    Sunlight, tu socio en la creación profesional de sitios web
  </p>
  <a
    class="block appearance-none font-medium text-neutral-950 bg-neutral-50 hover:bg-neutral-300 transition-colors py-4 px-8 rounded-lg mb-20"
    href="#contact">Contáctanos</a
  >
  <small
    class="uppercase font-bold text-xs tracking-[0.2em] text-neutral-400 mb-10"
    >Conoce nuestras tecnologías</small
  >
  <div
    class:list={[
      'max-w-screen-2xl overflow-hidden relative before:pointer-events-none after:pointer-events-none',
      `before:z-10 before:content-[''] before:absolute before:top-0 before:bottom-0 before:left-0 before:w-24 before:bg-gradient-to-l before:from-transparent before:to-neutral-950`,
      `after:z-10 after:content-[''] after:absolute after:top-0 after:bottom-0 after:right-0 after:w-24 after:bg-gradient-to-r after:from-transparent after:to-neutral-950`,
    ]}
  >
    <div
      class="flex overflow-x-hidden min-w-min justify-center shrink-0 w-screen"
    >
      <div class="horizontal-scrolling-items flex shrink-0">
        {
          [...technologies, ...technologies].map(({ image, alt }) => (
            <Image
              class="h-8 w-32 shrink-0"
              src={image}
              height={32}
              alt={alt}
              title={alt}
            />
          ))
        }
      </div>
      <div class="horizontal-scrolling-items flex shrink-0">
        {
          [...technologies, ...technologies].map(({ image, alt }) => (
            <Image
              class="h-8 w-32 shrink-0"
              src={image}
              height={32}
              alt={alt}
              title={alt}
            />
          ))
        }
      </div>
    </div>
  </div>

  <style>
    @keyframes infiniteScroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-8rem * 10));
      }
    }
    .horizontal-scrolling-items {
      animation-name: infiniteScroll;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  </style>
</section>
