---
import cpuIcon from '@/assets/icons/cpu.svg';
import figmaIcon from '@/assets/icons/figma.svg';
import flagIcon from '@/assets/icons/flag.svg';
import globeIcon from '@/assets/icons/globe.svg';
import smartphoneIcon from '@/assets/icons/smartphone.svg';
import zapIcon from '@/assets/icons/zap.svg';
import gcsimImage from '@/assets/images/gcsim.png';
import payloadImage from '@/assets/images/payload.webp';
import GradientSpan from '@/components/GradientSpan.astro';
import { Image } from 'astro:assets';

const serviceList = [
  {
    title: 'Tecnologías de Vanguardia',
    image: cpuIcon,
    description:
      'Ofrecemos soluciones de desarrollo web con las últimas tecnologías del mercado. Nuestros proyectos son escalables y fáciles de mantener.',
  },
  {
    title: 'SEO y visibilidad',
    image: globeIcon,
    description:
      'Nuestros sitios web están optimizados para motores de búsqueda y cumplen con las mejores prácticas de SEO.',
  },
  {
    title: 'Compromiso con la Accesibilidad',
    image: flagIcon,
    description:
      'Diseñamos sitios web que cumplen con estándares de accesibilidad web para llegar a un público más amplio.',
  },
  {
    title: 'Diseño UX/UI Personalizado',
    image: figmaIcon,
    description:
      'Diseñamos interfaces de usuario intuitivas y atractivas para que tus usuarios tengan una experiencia de usuario única.',
  },
  {
    title: 'Diseño Responsivo',
    image: smartphoneIcon,
    description:
      'Nuestros sitios web se adaptan a cualquier dispositivo y tamaño de pantalla.',
  },
  {
    title: 'Optimización de Rendimiento',
    image: zapIcon,
    description:
      'Nos especializamos en la optimización de velocidad y rendimiento de sitios web.',
  },
];
---

<section class="text-center py-10 px-6 sm:px-8" id="services">
  <h1
    class="text-4xl sm:text-5xl md:text-6xl font-bold mb-9 tracking-tight leading-[0.98] md:leading-[0.95]"
  >
    <GradientSpan>Detalles de Nuestros Servicios</GradientSpan>
  </h1>
  <p
    class="text-lg sm:text-xl max-w-2xl mx-auto text-neutral-400 mb-14 sm:mb-28"
  >
    Descubre cómo nuestros servicios personalizados y profesionales pueden dar
    vida a tus proyectos web. Aquí te presentamos las características que nos
    hacen destacar.
  </p>
  <div class="flex flex-col lg:flex-row items-stretch gap-16 mb-20">
    <Image
      src={payloadImage}
      alt="Payload illustration"
      class="lg:max-w-xl w-full h-72 lg:h-[576px] object-cover"
    />
    <ul class="text-left flex flex-col gap-14 basis-80 grow max-w-xl">
      {
        serviceList.splice(0, 3).map((service) => (
          <li>
            <figure class="bg-[#FFDB71] h-12 w-12 grid items-center justify-center text-neutral-800 rounded-md text-2xl mb-5">
              <Image class="h-6" src={service.image} alt={service.title} />
            </figure>
            <h2 class="mb-3 font-medium text-xl">{service.title}</h2>
            <p class="text-neutral-400">{service.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex flex-col lg:flex-row items-stretch gap-16 mb-20">
    <Image
      src={gcsimImage}
      alt="GCSim illustration"
      class="lg:max-w-xl w-full h-72 lg:h-[576px] object-cover"
    />
    <ul class="text-left flex flex-col gap-14 basis-80 grow max-w-xl">
      {
        serviceList.splice(0, 3).map((service) => (
          <li>
            <figure class="bg-[#FFDB71] h-12 w-12 grid items-center justify-center text-neutral-800 rounded-md text-2xl mb-5">
              <Image class="h-6" src={service.image} alt="Rocket" />
            </figure>
            <h2 class="mb-3 font-medium text-xl">{service.title}</h2>
            <p class="text-neutral-400">{service.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
